
# SUBSYSTEM=="subsystem", KERNEL=="gpio",  ACTION=="add", PROGRAM="/bin/sh -c 'chown -R odroid:odroid /sys%p'"
KERNEL=="gpio*", PROGRAM="/bin/sh -c 'chown -R odroid:odroid /sys%p'"
